* {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
nav {
    padding: 20px 10%;
    height: 15vh;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
    list-style-type: none;
    margin-right: 5%;
    font-weight: 600;
    font-size: 14px;
    font-family: sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}

.left-main {
    width: 50%;
}

.left-main h1 {
    font-size: 55px;
    font-family: sans-serif;
}

.left-main p {
    margin: 5% 0;
    font-size: 14px;
    font-family: sans-serif;
}

.left-main button {
    background-color:#3b855b;
    color: #ffffff;
    border: none;
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 10px;
}

.right-main  {
      position: relative;
      width: 60%;
      top: 28px;
}

.top-img img {
    width: 212px;
    height: 240px;
    padding-left: 15px;
}

.bot-img img {
      width: 430px;
      height: 208px;
      padding-left: 18px;
      margin-top: 18px;
}