@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,900;1,200&family=Oswald:wght@200;700&family=Poppins:wght@100;200;300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: auto;

}

.container-1  {
    background-image: url("./Assets/Photos/futuristic-bg.png");
    background-color: transparent;
    padding-top: 35px;
    padding-left: 9%;
    padding-right: 2%;
}

.container-1 .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    list-style-type: none;
    font-family: 'Poppins';
    font-size: 14px;
    padding-left: 40px;
    color: #ffffff;
    position: relative;
    right: 210px;
    bottom: 9px;
}

.navbar .btn-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
}

.navbar .btn-1 p {
    padding-right: 10px;
    font-size: 15px;
    color: #ffffff;
}